@using Game.Data.Dinosaurs;
@using Game.Data.Fossils;

<div class="newFossil">
    @if (ShowFossilInfo)
    {
        <p>New Fossil Found!</p>
        <p>Fossil Type: @NewFossilToDescribe.DinosaurType</p>
        @if (NewFossilToDescribe.DinosaurType == DinosaurTypeEnum.Carnivore)
        {
            <p>@NewFossilToDescribe.CarnivoreFossils</p>
        }
        @if (NewFossilToDescribe.DinosaurType == DinosaurTypeEnum.Herbivore)
        {
            <p>@NewFossilToDescribe.HerbivoreFossils</p>
        }
    }
</div>

@code {
    [Parameter]
    public Fossil NewFossilToDescribe { get; set; }

    [Parameter]
    public bool ShowFossilInfo { get; set; }
}

<style>
    .newFossil {
        text-align: center;
        outline-style: double;
        margin-top: 10px;
        margin-right: 60px;
    }
</style>
