@page "/gold"
@inject IGoldService GoldService
@using Game.Data;
@using Game.Services;

<div style="text-align:center">
    <h1>Gather Gold</h1>
    <p>Total Gold: @player.Gold</p>
    <p>Gold Per Click: @player.GoldPerClick</p>
    <button class="btn btn-primary" @onclick="GetGold">Get Gold!</button>
</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    private void GetGold()
    {
        GoldService.GetGold(player);
    }
}
