@page "/hunt"
@inject IMonsterService MonsterService
@using Game.Data;
@using Game.Services;

<h3>Hunt</h3>
<p>Current Monster Count: @player.Monsters.Count()/@player.MaxPartySize</p>
<button @onclick="GetNewMonster">Get New Monster</button>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    private void GetNewMonster()
    {
        player = MonsterService.HuntForMonster(player);
    }
}
