@page "/hunt"
@using Game.Data;
@using Game.Services;
@inject IPlayerDinosaurService DinosaurService
@inject IPlayerFossilService FossilService
@inject IAmberService AmberService
@inject NavigationManager NavigationManager

<div style="text-align:center">
    <h3><b>Hunt For Dinosaur Fossils</b></h3>
    @if (!HasEnough)
    {
        <div class="alert alert-danger" role="alert">
            <p>Gather more amber to find new fossils!</p>
            <button class="btn btn-danger" @onclick="RedirectToGold">Gather More Amber</button>
        </div>
    }
    <p>Total Amber: @player.Amber</p>
    <p>Amber Needed to Hunt for New Fossils: @player.AmberPerFossil</p>
    <p>Current Fossil Count: @player.Fossils.Count()</p>
    <button class="btn btn-primary" @onclick="GetNewFossil">Get New Dinosaur</button>
</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    public bool HasEnough { get; set; } = true;

    private void GetNewFossil()
    {
        var enoughGold = AmberService.HasEnough(player, player.AmberPerFossil);
        if (enoughGold)
        {
            HasEnough = true;
            player.Amber = AmberService.Pay(player.AmberPerFossil, player.Amber);
            player = FossilService.HuntForFossil(player);
        }
        else
        {
            HasEnough = false;
        }
    }

    private void RedirectToGold()
    {
        NavigationManager.NavigateTo("/amber");
    }
}
