@page "/"
@using Game.Data;
@inject NavigationManager NavigationManager

<PageTitle>Dinosaurs With Guns</PageTitle>

<div class="parent">

    <img class="background" src="/images/placeholders/background.png" />
    <h1 class="gameTitle">Dinosaurs With Guns</h1>
    <div class="playerInfo">
        <p>Amber: @player.Amber</p>
        <p>Party Size: @player.Dinosaurs.Count()/@player.MaxPartySize</p>
        <p></p>
    </div>

    <div class="amber">
        <label>
            <img @onclick="RedirectToAmber" src="/images/placeholders/House.png" />
            Amber
        </label>
    </div>
    @if (player.Access.Battle)
    {
        <div class="battle">
            <label>
                <img @onclick="RedirectToBattle" src="/images/placeholders/House1.png" />
                Battle
            </label>

        </div>
    }
    @if (player.Access.Party)
    {
        <div class="party">
            <label>
                <img @onclick="RedirectToParty" src="/images/placeholders/House2.png" />
                Party
            </label>
        </div>
    }
    @if (player.Access.Labratory)
    {
        <div class="labratory">
            <label>
                <img @onclick="RedirectToLabratory" src="/images/placeholders/House.png" />
                Labratory
            </label>
        </div>
    }
    @if (player.Access.Items)
    {
        <div class="items">
            <label>
                <img @onclick="RedirectToItems" src="/images/placeholders/House1.png" />
                Items
            </label>
        </div>
    }
    <div class="save">
        <label>
            <img @onclick="RedirectToSave" src="/images/placeholders/House2.png" />
            Save
        </label>
    </div>
</div>

<style>
    .gameTitle {
        position: absolute;
        top: 30px;
        left: 400px;
    }

    .playerInfo {
        float: inline-end;
        position: absolute;
        top: 400px;
        left: 650px;
    }

    .parent {
        position: relative;
        top: 0;
        left: 0;
    }

    .background {
        position: relative;
        top: 0;
        left: 0;
        width: 800px;
        height: 500px;
    }

    .amber {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .battle {
        position: absolute;
        top: 90px;
        left: 30px;
    }

    .party {
        position: absolute;
        top: 150px;
        left: 30px;
    }

    .labratory {
        position: absolute;
        top: 210px;
        left: 30px;
    }

    .items {
        position: absolute;
        top: 270px;
        left: 30px;
    }

    .save {
        position: absolute;
        top: 330px;
        left: 30px;
    }
</style>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    private void RedirectToAmber()
    {
        NavigationManager.NavigateTo("/amber");
    }

    private void RedirectToParty()
    {
        NavigationManager.NavigateTo("/party");
    }

    private void RedirectToBattle()
    {
        NavigationManager.NavigateTo("/battle");
    }

    private void RedirectToLabratory()
    {
        NavigationManager.NavigateTo("/labratory");
    }

    private void RedirectToItems()
    {
        NavigationManager.NavigateTo("/items");
    }

    private void RedirectToSave()
    {
        NavigationManager.NavigateTo("/save");
    }
}
