@page "/labratory"

<div style="text-align:center">
    <h3>Labratory</h3>
    <img src="images/lab.png" />
    <button class="btn btn-primary" @onclick="FuseFossils">Fuse Fossils</button>
</div>

@code {
    private void FuseFossils()
    {
        
    }
}
