@page "/save"
@using Game.Data;
@using Game.Data.Save;
@using Game.Services;
@inject ISaveService SaveService
@inject NavigationManager NavigationManager

<div>
    <h3>Save</h3>

    <EditForm Model="@saveFile" OnSubmit="@HandleSubmit">
        <label>
            Save
            <InputCheckbox @bind-Value="@saveFile.Saving"></InputCheckbox>
        </label>

        <label>
            Load
            <InputCheckbox @bind-Value="@saveFile.Loading"></InputCheckbox>
        </label>
        <br />
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    private SaveFile saveFile = new();

    public void HandleSubmit()
    {
        if (saveFile.Saving)
        {
            SaveService.Save(player, saveFile.Path);
        }

        if (saveFile.Loading)
        {
            SaveService.Load(saveFile.Path);
        }

        NavigationManager.NavigateTo("/");
    }
}