<div class="actionButtonChange">
    @ButtonText
</div>

@code {
    [Parameter]
    public string ButtonText { get; set; }
}

<style>
    .actionButtonChange {
        margin-top: 10px;
        height: 50px;
        width: 150px;
        text-align: center;
        padding-top: 12px;
        background-image: url(../../images/placeholders/backbuttonstyle3wideUNSELECTED.png);
        user-select: none;
    }

        .actionButtonChange:hover {
            background-image: url(../../images/placeholders/backbuttonstyle3wide.png)
        }
</style>