@page "/labratory"
@using Game.Data;
@using Game.Pages.Components
@using Game.Pages.Components.Buttons
@inject NavigationManager NavigationManager;

<div>
    <h3>Labratory</h3>
    <RedirectButton ButtonText="Amber Splicer" ButtonPath="/labratory/splicer" />
    <br />
    @if (player.Access.FossilFusion)
    {
        <RedirectButton ButtonText="Fossil Fusion Reactor" ButtonPath="/labratory/fusion" />
        <br />
    }
    <RedirectButton ButtonPath="/" ButtonText="BACK" />
</div>


@code {
    [CascadingParameter]
    public Player player { get; set; }
}

<style>
    .labratory {
        margin: 10px;
    }
</style>
