@page "/labratory"
@using Game.Data;
@using Game.Pages.Components
@inject NavigationManager NavigationManager;

<h3>Labratory</h3>
<button class="btn btn-primary labratory" @onclick="RedirectToSplicer">Amber Splicer</button>
<br />
@if (player.Access.FossilFusion)
{
    <button class="btn btn-primary labratory" @onclick="RedirectToFossilFusion">Fossil Fusion Reactor</button>
    <br />
}
<BackButton />

@code {
    [CascadingParameter]
    public Player player { get; set; }

    public void RedirectToSplicer()
    {
        NavigationManager.NavigateTo($"/labratory/splicer");
    }

    public void RedirectToFossilFusion()
    {
        NavigationManager.NavigateTo($"/labratory/fusion");
    }
}

<style>
    .labratory{
        margin:10px;
    }
</style>
