@page "/labratory"
@using Game.Data;
@inject NavigationManager NavigationManager;

<h3>Labratory</h3>
<button class="btn btn-primary" @onclick="RedirectToSplicer">Amber Splicer</button>
<button class="btn btn-primary" @onclick="RedirectToFossilFusion">Fossil Fusion Reactor</button>
@code {
    [CascadingParameter]
    public Player player { get; set; }

    public void RedirectToSplicer()
    {
        NavigationManager.NavigateTo($"/labratory/splicer");
    }

    public void RedirectToFossilFusion()
    {
        NavigationManager.NavigateTo($"/labratory/fusion");
    }
}
