@using Game.Data;
@inherits LayoutComponentBase

<PageTitle>Dinosaurs With Guns</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            <CascadingValue Value="@Player">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code{
    public Player Player { get; set; } = new Player();
}
