@page "/amber"
@inject IAmberService AmberService
@using Game.Data;
@using Game.Pages.Components
@using Game.Pages.Components.Buttons
@using Game.Services;
@inject NavigationManager NavigationManager

<div>
    <h1><b>Gather Amber</b></h1>
    <img src="images/placeholders/crystal.png" alt="Amber" />
    <p>Total Amber: @player.Amber</p>
    <p>Amber Per Click: @player.AmberPerClick</p>
    <div @onclick="GetYellowAmber">
        <ActionButton ButtonText="Get Amber!" />
    </div>
    <br />
    @if (player.Access.AmberHunting)
    {
        <RedirectButton ButtonPath="/amber/auto" ButtonText="Dino Hunting" />
    }
    <br />
    <RedirectButton ButtonText="Back" ButtonPath="/" />
</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    private void GetYellowAmber()
    {
        if (!player.Access.Labratory && player.Amber > 4)
        {
            player.Access.Labratory = true;
        }
        AmberService.GetAmber(player);
    }
}

<style>
    .gatherAmber {
        margin: 20px;
    }
</style>
