@page "/amber"
@inject IAmberService AmberService
@using Game.Data;
@using Game.Pages.Components
@using Game.Services;
@inject NavigationManager NavigationManager

<div>
    <h1><b>Gather @player.AmberType Amber</b></h1>
    <img src="images/placeholders/crystal.png" alt="Amber"/>
    <p>Total Amber: @player.Amber</p>
    <p>Amber Per Click: @player.AmberPerClick</p>
    <button class="btn btn-primary gatherAmber" @onclick="GetYellowAmber">Get Yellow Amber!</button>
    <br />
    <button class="btn btn-primary gatherAmber" @onclick="NavigateToAuto">Assign Dinosaur To Hunt For Amber!</button>
    <br />
    <BackButton />
</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    private void GetYellowAmber()
    {
        AmberService.GetAmber(player);
    }

    private void NavigateToAuto()
    {
        NavigationManager.NavigateTo("/amber/auto");
    }
}

<style>
    .gatherAmber{
        margin:20px;
    }
</style>
