@page "/battle"
@using Game.Data;
@using Game.Pages.Components
@inject NavigationManager NavigationManager;

<h3>Battle!</h3>

<button class="btn btn-primary" @onclick="RedirectToPrepare">Fight!</button>
<BackButton />

@code {
    [CascadingParameter]
    public Player player { get; set; }

    public void RedirectToPrepare()
    {
        NavigationManager.NavigateTo($"/battle/prepare");
    }
}
