@page "/battle/prepare"
@using Game.Data;
@using Game.Pages.Components
@using Game.Pages.Components.Buttons
@using Game.Pages.Components.DinosaurComponents
@using Game.Pages.Party
@inject NavigationManager NavigationManager

<div>
    @foreach (var dinosaur in player.Dinosaurs)
    {
        <div>
            <DinosaurName dinosaurToName="dinosaur" />
            <label>
                Select For Battle:
                <InputCheckbox @bind-Value="dinosaur.Battle.Selected"></InputCheckbox>
            </label>
            <div class="battleInfo">
                <p class="card-subtitle mb-2 text-muted">Level: @dinosaur.Level Experience: @dinosaur.CurrentExperience/@dinosaur.ExperienceToLevelUp</p>
                <p class="card-text">Health: @dinosaur.TotalHealth</p>

                <div style="outline-color:black; margin-top:10px;">
                    @if (dinosaur.AmberHunting.Hunting)
                    {
                        <button class="btn btn-primary" @onclick="RedirectToAutoAmber">Go to Amber Hunting</button>
                    }
                    @if (!dinosaur.AmberHunting.Hunting)
                    {
                        <DinosaurMoves DinoMoves="dinosaur.Moves" InBattle="false" />
                    }
                </div>
            </div>
        </div>
    }
    <br />
    <RedirectButton ButtonPath="battle/ground" ButtonText="Battle!!!" />
    <br />
    <RedirectButton ButtonPath="/" ButtonText="Back" />

</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    public void RedirectToBattle()
    {
        NavigationManager.NavigateTo("battle/ground");
    }

    public void RedirectToAutoAmber()
    {
        NavigationManager.NavigateTo("amber/auto");
    }

    public void SeeMoveset(bool seeMoveset)
    {
        seeMoveset = !seeMoveset;
    }
}

<style>

</style>
