@page "/party"
@using Game.Data;
@using Game.Data.Dinosaurs;
@using Game.Pages.Components
@using Game.Pages.Components.DinosaurComponents
@using Game.Services;
@inject IPlayerDinosaurService PlayerDinosaurService
@inject IDinosaurService DinosaurService
@inject NavigationManager NavigationManager

<h1><b>Dinosaur Army</b></h1>
<p>Party size: @player.Dinosaurs.Count()/@player.MaxPartySize</p>
<br />
<div style="text-align:center; float:left; margin:10px;">
    @foreach (var dinosaur in player.Dinosaurs)
    {        
        <div class="card" style="width: 18rem; float:left;">
            <div class="card-body">
                <DinosaurBaseInfo Dinosaur="dinosaur"/>
                <button class="btn btn-primary" @onclick="() => RedirectToSummary(dinosaur)">Detailed Summary</button>
                <button class="btn btn-primary" @onclick="() => LockDinosaur(dinosaur)" value="@dinosaur">Lock</button>
                <button class="btn btn-danger" @onclick="() => RemoveDinosaur(dinosaur)">Remove</button>

            </div>
        </div>
    }
    <br />
    <BackButton />
</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    public void LockDinosaur(Dinosaur dinosaur)
    {
        dinosaur = DinosaurService.LockOrUnlockDinosaur(dinosaur);
    }

    public void RemoveDinosaur(Dinosaur dinosaur)
    {
        player = PlayerDinosaurService.RemoveDinosaur(player, dinosaur);
    }

    public void RedirectToSummary(Dinosaur dinosaur)
    {
        NavigationManager.NavigateTo($"/party/summary/{dinosaur.PartyPosition}");
    }
}
