@inject NavigationManager NavigationManager

<button class="btn btn-primary" @onclick="RedirectToAmber">Back</button>

@code {
    private void RedirectToAmber()
    {
        NavigationManager.NavigateTo("/");
    }
}
