@inject NavigationManager NavigationManager

<div class="buttonChange" @onclick="RedirectToHome"></div>

@code {
    private void RedirectToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}

<style>
    .buttonChange {
        height: 50px;
        width: 150px;
        margin-top: 10px;
        background-image: url(../../images/placeholders/backbuttonstyle3wideUNSELECTED.png)
    }

        .buttonChange:hover {
            background-image: url(../../images/placeholders/backbuttonstyle3wide.png)
        }
</style>